<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Lego Collection</span>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a href="/lego/sets" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-gray-400 mr-4 <%= (page === '/lego/sets') ? 'active' : '' %>">View Collection</a>
            <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-gray-400 mr-4 <%= (page === '/about') ? 'active' : '' %>">About</a>
        </div>
    </div>
</nav>
